html,
body {
	height: 100%;
	margin: 0;
}

body {
	overflow: hidden;
	background: center center no-repeat url(/images/office.png);
	background-size: cover;
}

canvas {
	display: block;
	width: 100%;
	height: 100%;
}
